<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Download Definitions</string>
			<key>Key</key>
			<string>remoteDefinitions</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>127.0.0.1:8000</string>
			<key>Key</key>
			<string>apiHost</string>
			<key>Title</key>
			<string>Host</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>Title</key>
	<string>Infocorp Banking</string>
</dict>
</plist>
